[database]
connection = localhost
username = root
password =
dbname = zapytaj_mfind_pl

sales_adapter_url = 'https://sales-adapter.mfind.pl'
sales_adapter_version = 'v1'
sales_adapter_user = 'ipadmini'
sales_adapter_password = 'miniipad'
